{# templates/task/create.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <h1>Création d'une tâche :</h1>
    {{ form_start(form) }}
    
    {# Titre de la tâche #}
    <div class="form-group">
        {{ form_label(form.title) }}
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
    </div>

    {# Description de la tâche #}
    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
    </div>

    {# Sélection de l'utilisateur (optionnel) #}
    <div class="form-group">
        {{ form_label(form.assignedUser) }}
        {{ form_widget(form.assignedUser, {'attr': {'class': 'form-control'}}) }}
    </div>
    
    <button type="submit" class="btn btn-primary mt-3">Créer</button>
    </div>
    
    {{ form_end(form) }}
{% endblock %}
