<div class="card mb-3">
	<div class="card-header d-flex justify-content-between align-items-center {{ task.completed ? 'bg-secondary'  : task.category.label == 'Urgent' ? 'bg-danger' : (task.category.label == 'Modéré' ? 'bg-warning' : 'bg-primary') }}">

		<h4 class="mb-0 text-light">{{ task.title }}</h4>
		{% if task.creator == app.user %}
			<div class="btn-group" role="group">
				<a href="{{ path('app_edit_task', {'projectId': project.id, 'taskId': task.id}) }}" class="btn btn-warning btn-sm border-2 border-light" title="Modifier la tâche">
					<i class="fas fa-edit"></i>
				</a>
				<button type="button" class="btn btn-danger delete-task-button border-2 border-light" data-task-id="{{ task.id }}">
					<i class="fas fa-trash"></i>
				</button>
			</div>
		{% endif %}
	</div>

	<div class="card-body">
		<p>{{ task.description }}</p>
		<p>
			Status :
			{% if task.completed %}
				<i class="fas fa-check-circle text-success"></i>
				Terminé
			{% else %}
				{% if task.assignedUser ==  app.user %}
					<button class="btn btn-success validate-task-button" data-task-id="{{ task.id }}">
						Valider la tâche
					</button>
				{% else %}
					<i class="fas fa-spinner fa-spin text-warning"></i>
					En attente
				{% endif %}
			{% endif %}
		</p>
		<p>
			{% if task.assignedUser %}
				<i class="fas fa-user text-primary"></i>
				Assigné à :
				{{ task.assignedUser.email }}
			{% else %}
				<i class="fas fa-user-times text-danger"></i>
				Non assigné
			{% endif %}
		</p>
	</div>

	<div class="card-footer d-flex justify-content-between">
		<p class="mb-0">Créé le :
			{{ task.createdAt|date('d-m-Y') }}</p>
		{% if task.createdAt != task.updatedAt %}
			<p class="mb-0">Modifié le :
				{{ task.updatedAt|date('d-m-Y') }}</p>
		{% endif %}
	</div>
</div>
