{# templates/project/detail.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}

	<h2 class="text-center bg-secondary p-4 text-light">{{ project.title }}</h2>
	<div class="container d-flex justify-content-between">
		<div class="order-2">
			<h3 class="mb-4 mt-4">Membres de l'équipe</h3>
			<ul class="list-group">
				<li class="list-group-item d-flex justify-content-between">
					<div>
						<i class="fa-solid fa-crown"></i>
						{{ project.creator.email }}
					</div>
				</li>
				{% for user in project.team %}
					<li class="list-group-item d-flex justify-content-between member-user">
						<div>
							<i class="fas fa-user"></i>
							{{ user.email }}
						</div>
						{% if project.creator == app.user %}
							<button class="btn btn-danger btn-sm remove-user-button" data-user-email="{{ user.email }}" title="Supprimer l'utilisateur">
								<i class="fas fa-trash"></i>
							</button>

						{% endif %}
					</li>
				{% endfor %}
				{% if project.creator == app.user %}
					<li class="list-group-item">
						<form id="addUserForm" class="d-flex align-items-center">
							<div class="form-group">
								<input type="text" class="form-control" id="email" name="email" placeholder="e-mail de l'utilisateur">
							</div>
							<button type="button" class="btn btn-primary m-2" id="addUserButton" title="ajouter un utilisateur">
								<i class="fa-solid fa-plus"></i>
							</button>
						</form>
					</li>
				{% endif %}
			</ul>
		</div>
		<div class="col-8">
			<div class="d-flex justify-content-between align-items-center">
				<h3 class="mb-4 mt-4">Tâches :</h3>
				{% if project.creator == app.user %}
					<a href="{{ path('app_create_task', {'id': project.id}) }}" title="Ajouter une tâche" class="btn btn-primary m-4">
						<i class="fa-solid fa-plus"></i>
					</a>
				{% endif %}
			</div>
			<div class="task-cards">
				{% for task in project.tasks %}
					<div class="card mb-3">
						<div class="card-header d-flex justify-content-between align-items-center {{ task.category.label == 'Urgent' ? 'bg-danger' : (task.category.label == 'Modéré' ? 'bg-warning' : 'bg-primary') }}">

							<h4 class="mb-0 text-light">{{ task.title }}</h4>
							{% if task.creator == app.user %}
								<div class="btn-group" role="group">
									<a href="{{ path('app_edit_task', {'projectId': project.id, 'taskId': task.id}) }}" class="btn btn-warning btn-sm border-2 border-light" title="Modifier la tâche">
										<i class="fas fa-edit"></i>
									</a>
									<button type="button" class="btn btn-danger delete-task-button border-2 border-light" data-task-id="{{ task.id }}">
										<i class="fas fa-trash"></i>
									</button>
								</div>
							{% endif %}
						</div>

						<div class="card-body">
							<p>{{ task.description }}</p>
							<p>
								Status :
								{% if task.completed %}
									<i class="fas fa-check-circle text-success"></i>
									Terminé
								{% else %}
									{% if task.assignedUser ==  app.user %}
										<button class="btn btn-success validate-task-button" data-task-id="{{ task.id }}">
											Valider la tâche
										</button>
									{% else %}
										<i class="fas fa-spinner fa-spin text-warning"></i>
										En attente
									{% endif %}
								{% endif %}
							</p>
						</p>
						<p>
							{% if task.assignedUser %}
								<i class="fas fa-user text-primary"></i>
								Assigné à :
								{{ task.assignedUser.email }}
							{% else %}
								<i class="fas fa-user-times text-danger"></i>
								Non assigné
							{% endif %}
						</p>
					</div>

					<div class="card-footer d-flex justify-content-between">
						<p class="mb-0">Créé le :
							{{ task.createdAt|date('d-m-Y') }}</p>
						{% if task.createdAt != task.updatedAt %}
							<p class="mb-0">Modifié le :
								{{ task.updatedAt|date('d-m-Y') }}</p>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>


 <script>
 // Supression d'une task :
			document.addEventListener('DOMContentLoaded', function() {
		   
		});
        // -----------------------------------------------------------------------------------------------------------
        // Create // Delete d'un membre de l'équipe
         document.addEventListener('DOMContentLoaded', function() {

        const deleteTaskButtons = document.querySelectorAll('.delete-task-button');
		
		deleteTaskButtons.forEach(button => {
		        button.addEventListener('click', function() {
		            const taskId = button.getAttribute('data-task-id');
		            const deleteUrl = `/task/delete/${taskId}`;
		
		            // Utilisez la fonction confirm pour demander une confirmation à l'utilisateur
		            if (confirm('Êtes-vous sûr de vouloir supprimer cette tâche ?')) {
		                fetch(deleteUrl, {
		                    method: 'DELETE',
		                    headers: {
		                        'Content-Type': 'application/json',
		                    },
		                })
		                .then(response => {
		                    if (response.status === 200) {
		                        // La tâche a été supprimée avec succès, vous pouvez afficher une alerte de succès
		                        alert('Tâche supprimée avec succès');
		                        // Vous pouvez également recharger la page pour refléter les modifications
		                        location.reload();
		                    } else {
		                        // En cas d'erreur, affichez une alerte d'erreur avec le message de réponse
		                        response.text().then(message => {
		                            alert('Erreur lors de la suppression de la tâche : ' + message);
		                        });
		                    }
		                })
		                .catch(error => {
		                    console.error('Erreur lors de la suppression de la tâche :', error);
		                    alert('Une erreur s\'est produite lors de la suppression de la tâche.');
		                });
		            }
		        });
		    });

        const validateTaskButtons = document.querySelectorAll('.validate-task-button');
        validateTaskButtons.forEach(button => {
            button.addEventListener('click', function() {
            const taskId = button.getAttribute('data-task-id');
                if (confirm('Voulez vous valider la tâche en cours ?')) {
                    fetch(`/task/validate/${taskId}`)
                    .then(response => response.json())
                    .then(result => {
                        if (result.success) {
                            location.reload();
                        } else {
                           alert(result.message);
                        }
                    });
                }
            });
        });

        const addUserForm = document.getElementById('addUserForm');
        const emailInput = document.getElementById('email');
        const addUserButton = document.getElementById('addUserButton');
        const projectId = {{ project.id }}; // Remplacez ceci par le moyen d'obtenir l'ID du projet


        addUserButton.addEventListener('click', function() {
            var regex = /[^\s@]+@[^\s@]+\.[^\s@]+/; // regex de mail
            const email = emailInput.value;
            if(email !== "" && regex.test(email)){
                    fetch(`/add-user-to-project/${projectId}?email=${email}`, {
                        method: 'POST',
                    })
                    .then(response => response.json())
                    .then(result => {
                        if (result.success) {
                            // L'utilisateur a été ajouté avec succès, vous pouvez mettre à jour la liste des membres de l'équipe
                            alert('Utilisateur ajouté avec succès au groupe.');
                            // Rechargez ou mettez à jour la liste des membres de l'équipe ici
                            location.reload();
                        } else {
                           alert(result.message);
                        }
                    });
            }else{
                alert('Il faut rentrer une addresse mail');
            }
        });

        const removeUserButtons = document.querySelectorAll('.remove-user-button');
        removeUserButtons.forEach(button => {
            button.addEventListener('click', function() {
                const userEmail = button.getAttribute('data-user-email');
                const projectId = {{ project.id }};
                 if (confirm('Êtes-vous sûr de vouloir enlever cet utilisateur du grouppe ?')) {
                fetch(`/remove-user-from-project/${projectId}?email=${userEmail}`)
                    .then(response => response.json())
                    .then(result => {
                        if (result.success) {
                            // L'utilisateur a été ajouté avec succès, vous pouvez mettre à jour la liste des membres de l'équipe
                            alert('L\'utilisateur supprimé avec succès du groupe.');
                            // Rechargez ou mettez à jour la liste des membres de l'équipe ici
                            location.reload();
                        } else {
                           alert(result.message);
                        }
                    });
                 }
            });
        });
    });


	</script>{% endblock %}
