{# templates/project/detail.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}

	<h2>{{ project.title }}</h2>

	<h3>Team Members:</h3>
	<ul>
		{% for user in project.team %}
			<li>{{ user.email }}</li>
		{% endfor %}
	</ul>

	<h3>Tâches :</h3>

	<a href="{{ path('app_create_task', {'id': project.id}) }}" title="Ajouter une tâche" class="btn btn-primary"><i class="fa-solid fa-plus"></i></a>
	<div class="task-cards">
		{% for task in project.tasks %}
			<div class="card">
				<h4 class="card-header">{{ task.title }}</h4>
				<p>{{ task.description }}</p>
				<p>
					{% if task.completed %}
						<span class="completed">Completed</span>
					{% else %}
						<span class="not-completed">Not Completed</span>
					{% endif %}
				</p>
				<p>
					{% if task.assignedUser %}
						Assigned to:
						{{ task.assignedUser.email }}
					{% else %}
						Not Assigned
					{% endif %}
				</p>
				<div class="d-flex justify-content-between">
					<p>Créé le :
						{{ task.createdAt|date('d-m-Y') }}</p>
					{% if task.createdAt != task.updatedAt %}
						<p>Modifié le :
							{{ task.updatedAt|date('d-m-Y') }}</p>
					{% endif %}
				</div>

				{% if task.creator == app.user %}
					<p>
						<a {# href="{{ path('edit_task', {'id': task.id}) }}" #} class="btn btn-warning" title="Modifier la tâche"><i class="fa-solid fa-pen"></i></a>
						<a {# href="{{ path('delete_task', {'id': task.id}) }}" #} class="btn btn-danger" title="Supprimer la tâche"><i class="fa-solid fa-xmark"></i></a>
					</p>
				{% endif %}
			</div>
		{% endfor %}
	</div>
{% endblock %}
